<div class="top-btn">
  <%= link_to "Consultation", new_consultation_path(Consultation.new), class: "btn-timeline" %>
  <%= link_to "Symptôme", new_symptom_path(Symptom.new), class: "btn-timeline btn-timeline-symptom" %>
</div>
<div class="mb-3">
  <%= simple_form_for @symptom do |f| %>
    <div class="div-date">
      <%= f.input :at, as: :string, :label => "Date",input_html: {class: "datepicker"},placeholder: '...' %>
    </div>

    <%= f.input :name, :label => "Symptôme", placeholder: 'Nausée, ballonnement, colique...' %>

    <div class="form-flex">
    <%= f.input :zone, placeholder: 'Où' %>
      <%= f.input :duration, :label => "Durée", prompt: 'heures', :collection => [1,2,3,4,5,6,12,24] %>
    </div>
      <div class="form-intensity">
        <%= f.input :intensity, as: :range, label: "Intensité : <em id='rangeValLabel' style='font-style: normal;'>0</em>/10".html_safe, prompt: '1 à 10', :collection => [1,2,3,4,5,6,7,8,9,10], input_html: { min: '0', max: '10', step: '1', oninput: "document.getElementById('rangeValLabel').innerHTML = this.value;", name: "rangeVal", id: "rangeVal", value: '0' } %>
      </div>
    <%= f.input :notes, placeholder: 'Ici décrivez plus précisement vos symptômes...' %>
    <div class="btn-validate">
      <%= f.submit "Ajouter ce symptôme", class: "btn-blue" %>
    </div>
<% end %>
</div>
