<div class="form-container">
  <div class="row mt-4">
    <div class="container py-4 col-10">
      <h2 class="text-center blue-title">Edit <%= resource_name.to_s.humanize %></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="field">
          <%#= image_tag(resource.avatar_thumbnail) if resource.avatar.attached? %>
        </div>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password,
                      hint: "leave it blank if you don't want to change it",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "we need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
        </div>

      <div>
        <%#= simple_form_for @user do |f| %>
          <div class="form-flex">
            <%= f.input :first_name, :label => "Prénom", placeholder: 'Serge' %>
            <%= f.input :last_name, :label => "Nom", placeholder: 'Cohen' %>
          </div>
          <div class="form-flex">
            <%= f.input :gender, :label => "Genre", placeholder: 'Non-Binaire' %>
            <%= f.input :birth_date, :label => "Date de Naissance", placeholder: '11/05/1994' %>
          </div>
          <%= f.input :phone_number, :label => "Mon 06", placeholder: '0622227147' %>
          <%= f.input :address, :label => "Adresse", placeholder: '17 bis rue de Thionville' %>

        <div class="field">
          <%= f.file_field :avatar %>
        </div>


        <%# end%>
      </div>



        <div class="form-actions btn-validate">
          <%= f.button :submit, "Update", class: "btn-blue align-center" %>
        </div>
      <% end %>


      <%# <h3>Cancel my account</h3> %>

      <%# <p>Unhappy? = link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete</p> %>

      <%#= link_to "Back", :back %>

    </div>
  </div>
</div>

