<div class="form-container">
  <div class="row">
    <div class="container py-5 col-4">
      <div class="mb-3 bg-white">
        <%= simple_form_for [ @consulation ] do |f| %>
          <%= f.input :start_date, as: :date %>
          <%= f.input :end_date, as: :date %>
          <%= f.input :status%>
          <%= f.submit "Submit booking", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
