<div class="form-container">
  <div class="row">
    <div class="container py-5 col-4">
      <div class="mb-3 bg-white">
        <%= simple_form_for @consultation do |f| %>
          <%= f.input :date, as: :date %>
          <%= f.input :time, as: :time, :label => "Heure" %>
          <%= f.input :category, :label => "Catégorie", collection: Doctor.pluck(:specialty) %>
          <%= f.input :description, placeholder: 'Vaccin, Contrôle, ...'   %>
          <%= f.association :doctor, :label => "Medecins" %>
          <%= f.input :notes, placeholder: '...' %>
          <%= f.submit "Enregistrement", class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
