<div class="form-container">
  <div class="row no-gutters mt-4">
    <div class="container py-4 col-10">
      <%= link_to edit_consultation_path, class:"position-relative" do %>
        <%= image_tag 'pen.png', class:'pen-btn' %>
      <% end %>
      <h2 class="blue-title text-center mt-3 mb-4">RDV <%= @consultation.category %></h2>
      <div class="text-left mb-4 show-consult">
        <div class="flex"><i class="far fa-clock mr-2"></i> <p>Le <%= I18n.l(@consultation.at.to_date, format: :long)%> à <strong><%= I18n.l(@consultation.at.to_time, format: "%H:%M")%></strong>
        <p></div>
        <div class="flex"><i class="fas fa-user-md mr-2"></i> <p>Avec le Dr. <strong><%=@consultation.doctor.first_name%> <%=@consultation.doctor.last_name %></strong><p></div>
        <div class="flex"><i class="fas fa-stethoscope mr-2"></i> <p>Pour: <%=@consultation.description %><p></div>
        <div class="flex"><i class="fas fa-map-marker-alt mr-2"></i> <p>Adresse:
        <%=@consultation.doctor.address %></p></div>
        <div class="flex"><i class="fas fa-phone-alt mr-2"></i> <p>Joindre mon praticien : <%=@consultation.doctor.phone_number %>
        <%=@consultation.doctor.email %></p></div>
        <div class="flex"><i class="fas fa-quote-left mr-2"></i> <p>Mes notes : "<%=@consultation.notes %>"</p></div>
        <% if @consultation.documents.any? %>
          <div class="flex">
            <i class="far fa-file-alt mr-2"></i>
            <div class="document-p mb-3">
              <p><%= @consultation.documents.count %> document(s) lié(s)</p>
                <% @consultation.documents.each do |document| %>
                <div data-controller="lightbox">
                    <span data-action="click->lightbox#show"><i class="far fa-eye mr-2"></i><%= document.name %></span>
                      <div class="file-modal d-none" data-lightbox-target="modal">
                        <span data-action="click->lightbox#hide">
                          <i class="fas fa-times"></i>
                        </span>
                        <div class="flex column">
                          <%= cl_image_tag document.file.key, class:"img-document" %>
                          <%= link_to "<i class='far fa-trash-alt suppression-icon'></i>".html_safe, consultation_unlink_document_path(@consultation, document_id: document.id)  %>
                      </div>
                    </div>
                </div>
            <% end %>
            </div>
          </div>

        <% end %>
        </div>

        <div class="btn-validate">
        <p id="myBtn" class="btn-timeline btn-timeline-symptom" style="width: 180px">Lier un document</p>

        <div id="myModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <h4 class="blue-title text-center mb-4">Choisir un document</h4>
              <%= form_tag  consultation_link_document_path(@consultation), method: :get, class: '' do %>
              <div class="btn-validate mt-4 align-items-center">
                <i class="far fa-file-alt"></i>
                <%= collection_select :document, :id, current_user.documents, :id, :name %>
              </div>
              <div class="btn-validate">
                  <button type="submit" class="btn-timeline btn-timeline-symptom mt-4">Ajouter mon document</button>
              </div>
              <% end %>


            </div>
        </div>



        </div>
      </div>
    </div>
  </div>



