<div class="foot">

    <%= link_to root_path do %>
      <div class="icon-menu <%= active_class("home") %>">
        <%= image_tag 'home.png' %>
        <p>Accueil</p>
      </div>
    <% end %>

    <%= link_to profile_path do %>
      <div class="icon-menu <%= active_class("profile") %>">
        <%= image_tag 'user.png' %>
        <p>Profil</p>
      </div>
    <% end %>


    <%= link_to timeline_path do %>
      <div class="icon-menu <%= active_class("timeline") %>">
          <%= image_tag 'symptome.png', id:"heart" %>
          <p class="mt-1">Heal Line</p>
      </div>
    <% end %>


  <div class="icon-menu">

      <%= image_tag 'document.png' %>
      <p>Docs</p>

  </div>


</div>


