<div class="foot">

  <div class="icon-menu <%= "active" if controller.controller_name == 'pages' && controller.action_name == 'home' %>">
    <%= image_tag 'home.png' %>
    <p>Accueil</p>
  </div>

  <div class="icon-menu">
    <%= image_tag 'rdv.png' %>
    <p>Rdv</p>
  </div>

  <div class="icon-menu">
    <%= image_tag 'doctor.png' %>
    <p>Docteurs</p>
  </div>

  <div class="icon-menu">
    <%= image_tag 'agenda.png' %>
    <p>Agenda</p>
  </div>

  <div class="icon-menu">
    <%= image_tag 'document.png' %>
    <p>Docs</p>
  </div>

  <div class="icon-menu">
    <%= image_tag 'symptome.png' %>
    <p>Symptômes</p>
  </div>

</div>

