<div class="swiper-slide">
  <div class="cercle-container flex column <%= circle_color %>">
    <h3 class="mt-1"><%= consultation.category %></h3>
    <h5 class="black-p"><%= consultation.at.strftime("%e %b, %l:%M")%></h5>
    <div class="info-rdv">
      <div class="flex">
        <i class="fas fa-map-marker-alt mr-3"></i><p><%= consultation.doctor.address %></p>
      </div>
      <div class="flex">
        <i class="fas fa-user-md mr-3"></i><p> Dr <%= consultation.doctor.last_name %></p>
      </div>
      <div class="flex">
        <i class="far fa-lightbulb mr-3"></i><p> <%= consultation.notes %></p>
      </div>
      <%= link_to edit_consultation_path(consultation) do %>
        <p class="text-center"><i class="fas fa-pencil-alt"></i></p>
      <% end  %>
    </div>
    <%= link_to new_consultation_path do %>
      <%= image_tag 'plus.png', class:'plus-btn' %>
    <% end %>
  </div>
</div>