<% data.each do |item| %>

  <li class="timeline-card <%= past?(item) %> <%= data_type(item) %>"
      id="<%= dom_id(item) %>"
      data-action="click->timeline#focus"
      data-timeline-target="card">

      <div class="summary">
        <div class="h2-edit">
          <h2><%= item.name %></h2>
          <p>à <%= I18n.l(item.at.to_time, format: "%H:%M")%></p>
        </div>
      </div>
      <div class="details flex justify-content-between  align-items-end">
        <% if item.is_a? Consultation %>
          <div class="mini-details">
            <p><%= item.description%></p>
            <p><%= link_to "Détails de mon rdv", consultation_path(item) %></p>
          </div>
          <%= link_to consultation_path(item), method: :delete, data: { confirm: "Are you sure ?"} do %>
            <i class="far fa-trash-alt poubelle"></i>
          <% end %>
        <% else %>
          <div>
            <p><%= item.zone%></p>
            <p>intensité <%= item.intensity%>/10, pendant <%= item.duration%>h</p>
            <p><%= item.notes%></p>
          </div>
          <%= link_to symptom_path(item), method: :delete, data: { confirm: "Are you sure ?"} do %>
            <i class="far fa-trash-alt poubelle"></i>
          <% end %>
        <% end %>
      </div>
    <p class="timeline-date"><%= item.at.strftime('%e %b') %></p>
    <p class="timeline-year"><%= item.at.strftime('%Y') %></p>
  </li>
<% end %>
