<div class="column" data-controller="home">
  <div class="week-container flex">
    <div class="calendar">
      <%= link_to ('<i class="far fa-calendar-alt mt-3"></i>').html_safe, consultations_path  %>
    </div>
    <% @scrolling_days.each do |day| %>
      <div class="day column position-relative"
          data-action="click->home#center"
          data-consultation="<%= current_user.consultation_day?(day)%>"
          data-consultation-ids="<%= current_user.find_consultations(day).pluck(:id).to_json %>">

        <%=  I18n.l(day, format: "%a").capitalize %>
        <div class="<%= 'today' if day == Date.today %>  <%= 'rdv-day' if current_user.consultation_day?(day) %>">
          <strong><%= day.strftime('%e') %></strong>
        </div>
        <span class="stroke" data-home-target="stroke"></span>
      </div>
    <% end %>
  </div>

  <% if current_user && current_user.next_consultation&.soon? %>
    <%= render "pages/circles", consultations: @consultations.values[0] %>
  <% end %>

  <%= link_to new_consultation_path, class:"position-relative" do %>
    <%= image_tag 'plus.png', class:'plus-btn' %>
  <% end %>
</div>
