<div class="container">

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="health-tab" data-toggle="tab" href="#health" role="tab" aria-controls="health" aria-selected="true">Ma Santé</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Mon Profil</a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="health" role="tabpanel" aria-labelledby="health-tab">

      <div class="infos">
        <h3 class="section-title">Mes infos</h3>
        <ul>
          <li><span>Numéro SSN</span> : <%= current_user.ssn %></li>
          <li><span>Taille</span> : <%= current_user.height %></li>
          <li><span>Poids</span> : <%= current_user.weight %></li>
          <li><span>Groupe sanguin</span> : <%= current_user.blood_group %></li>
          <li><span>Allergies</span> : <%= current_user.allergies %></li>
          <li><span>Traitements</span> : <%= current_user.treatments %></li>
        </ul>
      </div>

      <div class="flex justify-content-between">
        <h3 class="section-title">Mes docteurs</h3>
        <%= link_to new_doctor_path  do %>
          <%= image_tag 'plus2.png', class:'add-btn mr-3' %>
        <% end %>
      </div>
      <div id="accordion">
        <ul>
          <% @doctors.each do |doctor| %>
            <div class="doctor mb-2">
              <div id="headingOne">
                <h5 class="mb-0">
                  <li>
                    <div class="doc-container" data-toggle="collapse" data-target="#doctor-<%= doctor.id %>" aria-expanded="true" aria-controls="doctor-<%= doctor.id %>">
                      Dr. <%= doctor.last_name %> <%= doctor.first_name %> <span class="text-secondary"><%= doctor.specialty %></span>
                    </div>
                    </h5>
                  </div>
                  <div id="doctor-<%= doctor.id %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">Adresse : <%= doctor.address %>
                      Téléphone : <%= doctor.phone_number %>
                      Email : <%= doctor.email %></li>
                </div>
              </div>
            </div>
          <% end %>
        <ul>
      </div>
    </div>


    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="infos">
        <h3 class="blue-title">Mes infos</h3>
        <ul>
          <li><span>Prénom</span> : <%= current_user.first_name %></li>
          <li><span>Nom</span> : <%= current_user.last_name %></li>
          <li><span>Genre</span> : <%= current_user.gender %></li>
          <li><span>Date de naissance</span> : <%= current_user.birth_date %></li>
          <li><span>Adresse</span> : <%= current_user.address %></li>
          <li><span>Téléphone</span> : <%= current_user.phone_number %></li>
          <li><span>Email</span> : <%= current_user.email %></li>
          <li><span>Mot de passe</span> : **********</li>
        </ul>
        <%= link_to "> Me déconnecter", destroy_user_session_path, method: :delete, class:"deconnect" %>
      </div>
    </div>
  </div>
</div>
