<div class="container">
  <div class="infos">
    <h3 class="blue-title">Mes infos</h3>
    <ul>
      <li><p>Numéro SSN : <%= current_user.ssn %></p></li>
      <li><p>Taille : <%= current_user.height %></p></li>
      <li><p>Poids : <%= current_user.weight %></p></li>
      <li><p>Groupe sanguin : <%= current_user.blood_group %></p></li>
      <li><p>Allergies : <%= current_user.allergies %></p></li>
      <li><p>Traitements : <%= current_user.treatments %></p></li>
    </ul>
  </div>

    <h3 class="blue-title">Mes docteurs</h3>
    <div id="accordion">
      <% @doctors.each do |doctor| %>
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#doctor-<%= doctor.id %>" aria-expanded="true" aria-controls="doctor-<%= doctor.id %>">
                Dr. <%= doctor.last_name %> <%= doctor.first_name %> <%= doctor.specialty %>
              </button>
            </h5>
          </div>
          <div id="doctor-<%= doctor.id %>" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Spécialité : <%= doctor.specialty %>
              Adresse : <%= doctor.address %>
              Téléphone : <%= doctor.phone_number %>
              Email : <%= doctor.email %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
