

<div class="container">
  <div>
    <ul class="timeline mt-4">
      <div class="container my-3 ml-2">
      <%= link_to "Timeline", timeline_path(choice: :all, query: params[:query]), class:"btn-timeline" %>
      <%= link_to "Rendez-vous", timeline_path(choice: :consultation, query: params[:query]), class:"btn-timeline" %>
      <%= link_to "Symptômes", timeline_path(choice: :symptom, query: params[:query]), class:"btn-timeline" %>
      </div>

      <div>
        <%= form_tag timeline_path, method: :get do %>
          <%= text_field_tag :choice,
            params[:choice],
            class: "d-none" %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a symptom" %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>

      <% @data.each do |item| %>

        <li class="timeline-card <%= data_type(item) %>">
            <div class="summary">
              <h2><%= item.name %></h2>
              <p><%= item.description %></p>
            </div>
            <div class="details">
              <p><%= item.notes %></p>
              <% if item.is_a? Consultation %>
                <%= link_to item.details, root_path %>
              <% else %>
                <p><%= item.details %></p>
              <% end %>
            </div>
          <p class="timeline-date"><%= item.at.strftime('%e %b') %></p>
          <p class="timeline-year"><%= item.at.strftime('%Y') %></p>
        </li>

      <% end %>
    </ul>
  </div>
</div>
