

<div class="container">
  <div>
    <ul class="timeline mt-4">
      <div class="container my-3 ml-3">
      <%= link_to "Timeline", timeline_path(choice: :all), class:"badge rounded-pill bg-light text-dark p-2 shadow-sm bg-body rounded" %>
      <%= link_to "Rendez-vous", timeline_path(choice: :consultation), class:"badge rounded-pill bg-light text-dark p-2 shadow-sm bg-body rounded" %>
      <%= link_to "Symptômes", timeline_path(choice: :symptom), class:"badge rounded-pill bg-light text-dark p-2 shadow-sm bg-body rounded" %>
      </div>
      <% @data.each do |item| %>
        <li class="timeline-card <%= data_type(item) %>">
            <div class="summary">
              <h2><%= item.name %></h2>
              <p><%= item.description %></p>
            </div>
            <div class="details">
              <p><%= item.notes %></p>
              <% if item.is_a? Consultation %>
                <%= link_to item.details, root_path %>
              <% else %>
                <p><%= item.details %></p>
              <% end %>
            </div>
          <p class="timeline-date"><%= item.at.strftime('%e %b') %></p>
          <p class="timeline-year"><%= item.at.strftime('%Y') %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
