<div class="container" data-controller="timeline" data-timeline-focus-value="<%= params[:focus] %>">
  <div data-controller="search">
    <div id="timelineForm" class="mb-3">
      <h3 class="blue-title text-center">Ma Timeline</h3>
      <div class="pt-2">
        <%= form_with url: timeline_path, class:"flex position-relative align-items-center justify-content-center pt-2",method: :get, html: { autocomplete: 'off', class: 'flex justify-content-center align-items-center', data: { search_target: 'form' } } do |f| %>
            <%= f.text_field :query,
              id: 'input-search',
              class: "form-control",
              placeholder: "Rechercher...",
              value: params[:query],
              data: {
                    search_target: 'input',
                    action: "keyup->search#update"
                  }
            %>
            <%= submit_tag "", class: "btn-search" %>
        <% end %>
      </div>
    </div>
    <div class="cont-time container my-1 flex justify-content-between align-items-center p-0">
      <%#= link_to "Timeline", timeline_path(choice: :all, query: params[:query]), class:"btn-timeline #{btn_active_class("all")}" %>

      <p class="filter"><i class="fas fa-filter mr-2"></i></i>Filtrer par : </p>
      <%= link_to "Consultations", timeline_path(choice: params[:choice] == "consultation" ? :all : :consultation, query: params[:query]), class:"btn-timeline btn-timeline-consultation #{btn_active_class("consultation")}" %>
      <%= link_to "Symptômes", timeline_path(choice: params[:choice] == "symptom" ? :all : :symptom, query: params[:query]), class:"pl-3 pr-3 btn-timeline btn-timeline-symptom #{btn_active_class("symptom")}" %>
      <%= link_to new_consultation_path, class: "timeline-add" do %>
        <%= image_tag 'plus2.png', class:'plus-small-btn' %>
      <% end %>
    </div>

    <div class="timeline-wrapper">
      <ul class="timeline mt-4">
        <div data-search-target="list">
          <%= render 'list', data: @data %>
        </div>
      </ul>
    </div>
  </div>
</div>


